version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
      time: '02:00'
    groups:
      actions:
        patterns:
          - '@actions/*'
      prettier:
        patterns:
          - 'prettier'
          - 'prettier-*'
